{% extends "base.html" %}
{% block body %}
    <style>
        p, b, h5 {
            color: lightgray;
        }
    </style>
    <h5><b>Our Services</b></h5>
    <p>By using or visiting the Memelicious website or any Memelicious Feeds, Software, and Services ("Services"), you are agreeing to these terms. Read them carefully.</p>
    <p>Additional terms may be available with other Services, and those additional terms become part of your agreement with us.</p>
    <br/>
    <h5><b>Use of Content</b></h5>
    <p>Our Services allow you to upload, submit, send, and receive text, images, and gifs ("Content").</p>
    <p>As a Memelicious account holder, you may submit Content to our Services.</p>
    <p>We do not own or claim right to the images and gifs found in the feeds. All rights are reserved to their respective owners, and are used herein under fair use.</p>
    <p>You retain all ownership rights in your Content. However, by submitting Content to us, you hereby grant us the rights to use, distribute, and display the Content you submit through the functionality of our Services under these Terms of Service, as we wish and under no additional conditions.</p>
    <p>We may review Content to determine whether it is illegal or violates our policies, and we may remove or refuse to display Content that we reasonably believe violates our policies or the law. But that does not necessarily mean that we review Content.</p>
    <p>All images on the site outside of the feeds, are owned by us for use on this site only.</p>
    <br/>
    <h5><b>Feed Policy</b></h5>
    <p>All Content uploaded, submitted, sent, and received in the feeds are to be 'Memes,' and thus should be humorous and entertaining in nature. Anything else violates this policy.</p>
    <br/>
    <h5><b>Account Termination Policy</b></h5>
    <p>We reserve the right to decide whether Content violates these Terms of Service. We may at any time, without prior notice or warning, remove such Content and/or terminate the account for submitting such material in violation of these Terms of Service.</p>
    <br/>
    <h5><b>Use Disclaimer</b></h5>
    <p>Some images may be considered offensive and/or hurtful. If you get easily offended, it is recommended to not use the site.</p>
    <p class="text-muted">Last modified: 6th January 2018</p>
{% endblock %}